
<div fxLayout="row" fxLayoutAlign="center center">
    <h2>
        Agilist Coach
    </h2>
   
</div>

 
  <ol>
    <li>Training - SAFe, PMI-ACP, Scrum Alliance</li>
   
   <br>
   <a [routerLink]="['/train']">
     Click here
  </a>
   <hr>
    <li>Knowledge Share - SAFe, PMI-ACP, Scrum Alliance</li>
    <br>
    
    <a [routerLink]="['/share']">
        Click here
     </a>
    <hr>
    <li>Consultancy - SAFe, PMI-ACP, Scrum Alliance</li>
    <br>
    
    <a [routerLink]="['/consult']">
        Click here
     </a>
    <hr>
  </ol>
  <br/>

